<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nicholas.app16_listacompras_rdbsp">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_baseline_list"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_baseline_list"
            android:supportsRtl="true"
            android:theme="@style/Theme.App16_ListaCompras_RDB_SP">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>